<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Maintained by <a href="https://ondro.inginea.eu">Ondro Mihályi</a></li>
	        		<li><a href="https://github.com/jakartadocs-om/jakartadocs-om.github.io/edit/master/index.md">Contribute</a> (page sources)</li>
				</ul>
			</footer>
		</body>
	</html>
